practice problem 1 to find even or odd

In [7]:
def even_or_odd(no):
    if no % 2 ==0:
        print('number is even')
    else:
        print('number is odd')

In [9]:
even_or_odd(10)

number is even

In [14]:
def even_or_odd():
    no =int(input('enter the number'))
    if no % 2 ==0:
        print('number is even')
    else:
        print('number is odd')

In [16]:
even_or_odd()

enter the number 9

number is odd

practice problem 2 creating a centered pyramid using stars

In [18]:
n=5
for i in range(1,n+1):
  print(' '*(n-i)+i*'* ')

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

practice problem 3 hastag generator

In [46]:
def hashtag_generator():
    text=input('enter the text')
    hashtag='#'+ text
    print(hashtag)

In [47]:
hashtag_generator()

enter the text hi

#hi

practice problem 4 user input factorial

In [69]:
def give_factorial():
    result=1
    num=int(input('enter the number'))
    for i in range (1 ,num+1):
        result=result*i
    return result

In [70]:
give_factorial()

enter the number 5

120

practice problem 5 student records

In [71]:
import pandas as pd
def students_record(**kwargs):
    print(kwargs)
    keys=list(kwargs)
    if type(keys[0])==str:
        result=pd.DataFrame(kwargs)
        return result
    else:
        result=pd.DataFrame(kwargs)
        return result

In [72]:
students_record(name=['niyati','kushu','ajay'],
                age=[12,21,12],
                roll_no=[101,102,103],
                address=['noida','gr noida','delhi'])

{'name': ['niyati', 'kushu', 'ajay'], 'age': [12, 21, 12], 'roll_no': [101, 102, 103], 'address': ['noida', 'gr noida', 'delhi']}

     name  age  roll_no   address
0  niyati   12      101     noida
1   kushu   21      102  gr noida
2    ajay   12      103     delhi