In [ ]:
practice problem

In [2]:
#pip install PyMySql

In [3]:
import pymysql as py
print('done')

done

In [5]:
conn=py.connect(user='root',
                password='@Tintinsingh06',
                host='localhost',
                autocommit='True'
               )

print('connection created')
print('done')

connection created
done

In [7]:
cur=conn.cursor()
print('done')

done

In [8]:
query='''create database library_db;'''
cur.execute(query)
print('done')

done

In [9]:
query='''use library_db;'''
cur.execute(query)
print('done')

done

In [10]:
query=''' create table books
(
book_id int,
title varchar(100),
author varchar(100),
price float);'''
cur.execute(query)
print('done')

done

In [ ]:
n=3
for i in range(n ):

    book_id=int(input('enter the book id:'))
    title=input('enter the title of the book ')
    author=input('enter the name of the author')
    price=float(input('enter the price for the book'))
    
    q=f'''insert into books  values
    ('{book_id}','{title}','{author}','{price}');'''
    cur.execute(q)
    print('done')

In [25]:
 query =''' select * from books;'''
cur.execute(query)
records=cur.fetchall()

all_columns=[]
for i in cur.description:
    all_columns.append(i[0])

import pandas as pd
df=pd.DataFrame(records,columns=all_columns)
df

   book_id                             title                  author  price
0      101                     Wings of Fire  Dr. A.P.J. Abdul Kalam  250.0
1      102                     The Alchemist            Paulo Coelho  350.0
2      103  Python Programming for Beginners              John Zelle  450.0

In [29]:
query = '''SELECT SUM(price) AS total_price FROM books;'''
cur.execute(query)
records=cur.fetchall()

all_columns=[]
for i in cur.description:
    all_columns.append(i[0])

    
import pandas as pd
p=pd.DataFrame(records,columns=all_columns)
p

   total_price
0       1050.0

In [26]:
df.to_csv('books_data.csv', index=False)
print('done')

done