In [3]:
#exception handling

#try
#handled with except
age =2
if age>=18:
    print('can vote')
else:
    print('can\'t vote')

can't vote

In [1]:
age ='23'
try:#try block it might throw an error
   # print(1/0)
    print(a)
    if age>=18:
        print('can vote')
    else:
        print('can\'t vote')
except TypeError: #handels only type error
    print('something went wrong')
    print('invalid dataype comparison')
    
except:#to handle the error occured in the above exception
    print('invalid code')

invalid code

In [2]:
#code for handling exception that occours when we dont mention the index values it throws a  value error
def student_records(**kwargs):
    import pandas as pd 
    try:
        data=pd.DataFrame(kwargs)
        return data
    except:
        data=pd.DataFrame(kwargs,index=[1])
        return data

In [4]:
student_records(Name = 'niyati',Age = 12,Address = 'Noida')

     Name  Age Address
1  niyati   12   Noida

In [5]:
student_records(name=['niyati','kushu','ajay'],
                age=[12,21,12],
                roll_no=[101,102,103],
                address=['noida','gr noida','delhi'],
                sec=list('ABC'))

     name  age  roll_no   address sec
0  niyati   12      101     noida   A
1   kushu   21      102  gr noida   B
2    ajay   12      103     delhi   C

In [6]:
def show_time():
    while True:
        import time
        print(time.asctime())
        time.sleep(1)
        display(clear=True)

In [ ]:
show_time()

In [8]:
def show_time():
 try:
    while True:
     import time
     print(time.asctime())
     time.sleep(1)
     display(clear=True)
 except:
        print('interrupted by user')

In [15]:
show_time()

Fri Jul  4 10:54:37 2025
interrupted by user

In [ ]:
#module is a collection of classes and functions

In [ ]:
#module

In [9]:
import niyati as n 

print('done')

print(n.check_prime(4))#n. tab button to see hint
print(n.factorial(10))
print(n.give_fibo(12))
# to see how many arguments we need to write press shift+tab

 this is niyati module in python
Info: https://www.google.com/
done
not a prime number
3628800
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [10]:
print(n.print_star(n=8,typ='mid'))

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *
None

In [11]:
n.sum_of_n_natural_numbers(20)

210

In [12]:
n.show_time()

Sun Jul 20 21:53:02 2025
interrupted by user

In [15]:
n.check_palindrome('niyati')

'not a palindrome'

In [16]:
n.store_records('niyati',12,'a',12,12)

     name  age sec  roll_no  Class
1  niyati   12   a       12     12

In [17]:
from niyati import *# to import all the functions in the module
from niyati import factorial
print('done')

done

In [18]:
factorial(10)

3628800

In [19]:
import turtle
print('done')

done

In [ ]:
import turtle
for i in range(120):
    turtle.speed(0)
    turtle.bgcolor('black')
    col = ['red','yellow','green','blue','orange']
    import random
    picked_color = random.choice(col)
    turtle.color(picked_color)
    turtle.circle(100)
    turtle.left(3)

In [ ]:
import turtle
for i in range(4):
    turtle.circle(100)
    turtle.left(90)

In [ ]:
import turtle
for i in range(6):
    turtle.bgcolor('black')
    turtle.color('cyan')
    turtle.forward(150)
    turtle.left(60)

In [ ]:
# 1:- Text File
#
# .py,.html, .csv, .tsv, .css, .java, .c, c++,. json, .js,
# 2: Binary File
# Software
# .pdf, .mp3, mp4, .png, .jpeg, .exe, .zip, .dat, .tar .xlsx, .ppt, .doc, .ipynb

In [21]:
# handling:- read, write, copy, append, delete, open, new

In [23]:
file = open('niyati.py',mode = 'r')

In [24]:
file = open('niyati.py',mode = 'r')
print(file.read(100))
file.close()

print(''' this is niyati module in python
Info: https://www.google.com/''')

def check_palindrome(wo

In [25]:
f = open('niyati.py',mode = 'r')

In [26]:
print(f.readline())

print(''' this is niyati module in python

In [28]:
f = open('niyati.py',mode = 'r')
for i in range(10):
    print(f.readline())

print(''' this is niyati module in python

Info: https://www.google.com/''')



def check_palindrome(word:str):

    if type(word)==str:

     word=word.upper()#if we use upper with number it will give an error

     if word==word[::-1]:

       return 'palindrome'

     else:

        return 'not a palindrome'

In [29]:
f = open('niyati.py',mode = 'r')
for i in range(10):
    print(f.readline())

print(''' this is niyati module in python

Info: https://www.google.com/''')



def check_palindrome(word:str):

    if type(word)==str:

     word=word.upper()#if we use upper with number it will give an error

     if word==word[::-1]:

       return 'palindrome'

     else:

        return 'not a palindrome'

In [30]:
f = open('niyati.py',mode = 'r')
for i in range(10):
    if i == 7: #line no 8
        print(f.readline())
    else:
        f.readline()

       return 'palindrome'

In [31]:
f = open('niyati.py',mode = 'r')

data = f.readlines()

f.close()
print('done')

done